Hi, My name is {{name}} I am a software developer and creative technologist.

Currently:

📍&nbsp;{{location}}<br>
🌡&nbsp;{{weather}}<br>
💨&nbsp;{{airquality}}<br>
🧠&nbsp;{{mood}}<br>
🎧&nbsp;{{lastfm}}<br>
💻&nbsp;{{github}}<br>
🚲&nbsp;{{strava}}<br>
🎮&nbsp;{{steam}}<br>
🐦&nbsp;{{twitter}}<br>
				

